.highlight {
  background: yellow;
}

.tweet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.tweet div, .tweet p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.tweet .index {
  min-width: 30px;
  margin-right: 5px;
}

.tweet .metadata {
  min-width: 200px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.tweet .metadata .stats > span {
  margin-right: 10px;
}

.tweet .metadata .stats > span:last-child {
  font-size: 14px;
}

.tweet .metadata .stats > span:last-child a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

@media all and (max-width: 900px) {
  .tweet, .tweet div {
    display: block;
  }
}
