.page-home .header {
  text-align: center;
}

.page-home .header h1 {
  background: #bebebe;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.page-home .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.page-home .content .left, .page-home .content .right {
  flex: 1;
}

.page-home .video {
  text-align: center;
}

.page-home .video a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.page-home .video a:hover {
  text-decoration: underline;
}

.page-home .video video {
  border: 2px solid black;
}
