.page-home {

  .header {
    text-align: center;

    h1 {
      background: #ff6161;
      border-bottom: 2px solid black;
      color: black;
      font-size: 24px;
      letter-spacing: 3px;
      margin: 0;
      padding: 10px;
      font-family: monospace;
      font-weight: 900;
      text-align: center;
    }

  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .left, .right {
      flex: 1;
      padding: 0 20px;

      .video {
        text-align: center;

        span {
          position: absolute;
          right: 20px;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: black;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        video {
          border: 2px solid black;
          width: 500px;
        }
      }
    }
  }

}
