.page-download {
  margin: 40px;
}

.page-download pre {
  background: #f0f0f0;
  padding: 10px;
}

.page-download .download-option {
  margin-bottom: 40px;
}

.page-download button {
  background: white;
  border-radius: 3px;
  border: 2px solid blue;
  color: blue;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
}
